# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI Workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# To cancel a currently running workflow from the same PR, branch, or tag
# when a new workflow is triggered.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.25]
        os: [ubuntu-latest]
    name: build
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/extractions/setup-just
      - uses: extractions/setup-just@v3

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
        env:
          # The special value "local" tells Go to use the bundled Go
          # version rather than trying to fetch one according to a
          # `toolchain` value in `go.mod`. This ensures that we're
          # really running the Go version in the CI matrix rather than
          # one that the Go command has upgraded to automatically.
          # https://brandur.org/fragments/go-version-matrix
          GOTOOLCHAIN: local

      - name: Print Go version
        run: just version

      - name: Vet
        run: just vet

      # https://github.com/golangci/golangci-lint-action
      # https://golangci-lint.run/docs/welcome/faq/#which-go-versions-are-supported
      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.2

      # https://github.com/dominikh/staticcheck-action
      - name: Lint with staticcheck
        uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          install-go: false
          cache-key: ${{ matrix.go-version }}

      # TODO: Re-enable Nancy GitHub Action once https://github.com/sonatype-nexus-community/nancy-github-action/pull/13 is fixed
      #
      # https://github.com/marketplace/actions/nancy-for-github-actions
      # This setup is different than our local `just audit` target (which uses
      # nancy), because the latter does not yet seem to work on GitHub Actions.
      #- name: Write go.list for nancy (security audit)
      #  run: go list -mod=readonly -json -m all > go.list
      #- name: Security audit with nancy
      #  uses: sonatype-nexus-community/nancy-github-action@main
      #  with:
      #    nancyCommand: sleuth --loud
      #    # Explicitly set a nancy version, otherwise the CI build may fail the
      #    # installation of nancy, trying to download a package from a URL such
      #    # as:
      #    # "https://github.com/sonatype-nexus-community/nancy/releases/download//nancy__linux_amd64.apk"
      #    #                                                                    ^^^     ^^
      #    #                    Note the "empty strings" here where the version should be!
      #    #
      #    # Versions:
      #    # https://github.com/sonatype-nexus-community/nancy
      #    nancyVersion: "v1.0.48"

      - name: Build
        run: just build
        # Alternatively:
        #- name: Test & Build
        #  run: go test -v ./... && go build -v ./...

  release:
    strategy:
      matrix:
        go-version: [1.25]
        os: [ubuntu-latest]
    name: release
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: extractions/setup-just@v3

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Release
        run: just release

